.header,
.footer {
        color: white;
        background-color: #3b85aa;
        padding: 10px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;

}

.main{
    display: flex;
}

.main > .lewy {
width: 80%;
height: 450px;
text-align: center;
}

.main > .prawy {
    color:white;
    background-color: #4e9bb5;
    height: 450px;
}

.img{
    border: 2px solid black;
    margin: 125px, 200px, 125px;
}
li a {
    display: block;
    float: left;
    text-align: center;
    font-size: 1.2em;
    width: 130px;
    text-decoration: none;
    color: aqua;
    background-color: blue;
    padding: 10px 15px;
    margin: 0px 1px 1px 0px;
    border: 1px solid navy;
    border-radius: 3px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0px 2px 3px gray;
    -moz-box-shadow: 0px 2px 3px gray;
    -webkit-box-shadow: 0px 2px 3px gray;
    }
    
    li a:hover {
    color: blue;
    background: aqua;
    border: 1px solid blue;
    }

@media (min-width: 1100px) {

    .container {width:1050px;}
    
    aside {width:30%;}
    
    #main {width:65%;}
    
    }
    
    @media (max-width: 1100px) and (min-width: 1000px) {
    
    .container {width:950px;}
    
    aside {width:30%;}
    
    #main {width:65%;}
    
    }
    
    @media (max-width: 1000px) and (min-width: 800px) {
    
    .container {width:750px;}
    
    aside {width:30%;}
    
    #main {width:65%;}
    
    }
    
    @media (max-width: 800px) and (min-width: 500px) {
    
    .container {width:450px;}
    
    aside,
    
    #main {width:100%;}
    
    }
    
    @media (max-width: 500px) {
    
    .container {width:90%;}
    
    aside,
    
    #main {width:100%;}
    
    }